html{
    background-color: #D95FA2;
    font-family: 'Roboto mono', monospace;
    font-size: 16px;
}

/* navigation */
.container{
    width: 80%;
    margin: 0 auto;
}
header{
    margin-top: -7px;
    background-color: #D95FA2;
}
header::after{
    content: '';
    display: table;
    clear: both;
}
.logo{
    float: left;
    width: 23%;
    padding: 10px 0;
    
    
}
nav{
    float: right;
}
nav ul{
margin: 0;
padding: 0;
list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 60px;
    padding-top: 10px;
    position: relative;
    
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: 400;
}
nav a:hover{
    color:#f2cda0;

}
nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #242259;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 200ms;
}
nav a:hover::before{
    width: 100%;
}
/* Grid style - Main Area */

.main-container{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(auto, 100%);
    margin-left: auto;
    margin-right: auto;
}
.hero-title{
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    padding-top: 1.7em;
   

}
/*Designbot Styling*/

.container-left{
    grid-column: 1/2;
    grid-row:1/2;
    color: white;
    margin-top: -25px;
}
.container-left h4{
    font-size: 1.1rem;
}
.container-left p{
    margin-top: -8px;
    font-size: .8em;
    font-weight: 400;
    line-height: 1.4rem;
}
/* Grid style - Main Page*/

.container-right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5rem;
    color: #242259;
}
.form{
    grid-column: 1/2;
    
}
.map{
    grid-column: 2/3;
    width: 150%;
}

.checkbox{
    margin-bottom: 30px;
}
td{
    font-size: 1.1rem;
}
tr{
    line-height: 1.5rem;
}
.form-bottom{
    font-size: 1rem;
}
.form-bottom h4{
    font-size: 1.1rem;
}
label[for=service1]{
    font-size: 1.1rem;
}
label[for=service2]{
    font-size: 1.1rem;
}
label[for=fname]{
    font-size: 1.1rem;
}
label[for=lname]{
    font-size: 1.1rem;
}
label[for=message]{
    font-size: 1.1rem;
}
input[type=submit]{
    background-color: #242259;
    border:none;
    color: #D95FA2;
    font-size: 1.1rem;
    padding: 16px 32px;
    text-decoration: none;



}